html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  display: flex;
  height: 10vh;
  justify-self: flex-start;
  justify-content: flex-end;
}
ul {
  list-style-type: none;
  display: flex;
}

header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.7rem 0 1.2rem 0;
}
header ul > li {
  margin: 0 0.5rem 0 0.5rem;
  font-family: arial, sans-serif;
  font-size: 0.8rem;
  line-height: 24px;
}
.dots {
  fill: #5f6368;
  height: 1rem;
  width: 1rem;
}
.menu-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0.7rem;
}
.dots img :hover{
  border-radius: 0;
}
.profile-a div{
  padding: 6px;
  padding-top: 3px;
  margin-right: 0.7rem;
  
}
.profile-a > :hover{
  border-radius: 50%;
  background-color:whitesmoke;
}
.menu-icon-a > :hover{
  background: whitesmoke;
  border-radius: 50%;

}
.profile {
  background-color: blueviolet;
  height: 1.9rem;
  width: 1.9rem;
  /* margin: 0rem 1rem 0.1rem 1rem; */
  padding-top: 2px;
  border-radius: 50%;
  bottom: -2px;
  position: relative;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
}
.middle-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 1.2rem;
  margin-top: 4rem;
}
.logo-banner {
  margin: 1.5rem 9.5rem;
}

.content {
  display: flex;
  flex-direction: column;
}
.search-hover {
  box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
  /* box-shadow: 0 1px 6px 0 #171717; */
}
/* .search-box :hover{
  box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
  background-color:#5f6368;
  border-color: rgba(223,225,229,0);
} */
.search-box {
  height: 44px;
  border: 1px solid #d3d3d3;
  border-radius: 24px;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.search-icon {
  width: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.2rem;
  margin-top: 0.2rem;
}
.search-icon > * {
  width: 1rem;
}
.search-input {
  height: 100%;
  outline: none;
  border: none;
  width: 100%;
  font-size: large;
}
.voice-icon {
  width: 1rem;
  margin-right: 1.5rem;
  margin-top: 0.2rem;
}
.buttons-wrapper {
  display: flex;
  justify-content: center;
}
.buttons-box a :hover {
  /* background-color:#bfbfbf; */
  background-color: #f2f2f2;
}
.buttons-box {
  display: flex;
}
.button-text-box {
  background-color: #f8f9fa;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  font-family: Helvetica, sans-serif;
  color: dimgray;
  font-size: 0.9rem;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background-color: #f2f2f2;
}
.footer-box {
  display: flex;
  min-height: 1.2rem;
  padding: 0 0.8rem;
  border-bottom: 1px solid #ddd;
}
.footer-box-end {
  display: flex;
  min-height: 1.2rem;
  padding: 1rem 0;
  align-items: center;
  justify-self: flex-end;
  margin-left: auto;
}
.footer-box > :first-child {
  /* list-style-type: none; */
  display: flex;
  align-items: center;
  min-height: 3.08rem;
}
.footer-box ul li :hover {
  /* color:#8c8c8c; */
  color: #404040 !important;
}
.footer-box li {
  /* list-style-type: none; */
  display: flex;
  padding: 0.8rem 0.8rem;
  font-family: Helvetica, sans-serif;
  color: grey;
  font-size: 14px;
  /* color: #555; */
}

@media screen and (max-width: 650px) {
  .middle-banner {
    margin: auto 1.2rem;
  }
  .logo-banner {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    display: flex;
    /* width:80vw; */
  }
  .content {
    width: 90vw;
  }

  .footer > :last-child {
    flex-direction: column;
    justify-content: center;
  }
  .footer > :last-child > :first-child {
    width: 80%;
    justify-self: flex-end;
    margin: 0 auto;
    flex-wrap: wrap;

  }
  .footer > :last-child > :last-child {
    margin: 0 auto;
    width: 50%;
  }

  .footer > :last-child ul {
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0;
  }
}

/* fix for How Search Works Pre formatted text but the font didn't applied so used below css */
pre {
  font-family: Helvetica, sans-serif;
}
